.about-smd-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    gap: 30px; /* Space between the image and content */
}

.about-smd-container:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.image-container {
    flex: 1 1 45%; /* Allowing flexibility, making it 45% width for larger screens */
    max-width: 100%;
}

.about-smd-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    flex: 1 1 50%;
    max-width: 100%;
    margin-left: 30px;
    text-align: left;
}

.about-smd-title {
    color: #1e3d58;
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.about-smd-subtitle {
    color: #8fd2ff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.about-smd-description {
    font-size: 1.25rem;
    line-height: 1.8;
    color: #333;
    letter-spacing: 0.5px;
}

@media (max-width: 1024px) {
    .about-smd-container {
        flex-direction: column;
        padding: 40px 15px;
    }

    .image-container {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .content-container {
        max-width: 100%;
        text-align: center;
    }

    .about-smd-title {
        font-size: 2rem;
    }

    .about-smd-description {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about-smd-title {
        font-size: 1.8rem;
    }

    .about-smd-description {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .about-smd-title {
        font-size: 1.6rem;
    }

    .about-smd-subtitle {
        font-size: 1.4rem;
    }

    .about-smd-description {
        font-size: 0.9rem;
    }
}


.about-smd-missions {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #333;
}

.about-smd-missions li {
    margin-bottom: 10px;
}

.about-smd-missions strong {
    color: #1e3d58;
    font-weight: bold;
}
