.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: scale(0);
    animation: ripple-animation 5s linear;
    background: #1fa5ff;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(10);
        opacity: 0;
    }
}
